<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>{{title | uppercase}}</h1>
  <hr>
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th>Variable</th>
        <th>Pipe</th>
        <th>Producto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>{{nombre}}</th>
        <th>uppercase</th>
        <th>{{ nombre|uppercase}}</th>
      </tr>
      <tr>
        <th>{{nombre}}</th>
        <th>lowecase</th>
        <th>{{ nombre|lowercase}}</th>
      </tr>

    </tbody>
  </table>
</div>