<div class="row mt-5">
  <div class="col">
    <h4>Formularios <small>template</small></h4>
    <hr />
    <form (ngSubmit)="guardar(formu)" novalidate="" #formu="ngForm">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          class="form-control"
          placeholder="ingrese un nombre"
          [(ngModel)]="usuario.nombre"
          name="nombre"
          minlength="3"
          #nombre="ngModel"
          required
        />
        <div>Este campo es requerido</div>
        <div *ngIf="nombre.errors?.minlength">
          Debe contener al menos
          {{ nombre.errors?.minlength.requiredLength }} caracteres
        </div>
      </div>
      <div class="form-group">
        <label for="apellido">Apellido</label>
        <input
          type="text"
          class="form-control"
          placeholder="ingrese un apellido"
          [(ngModel)]="usuario.apellido"
          name="apellido"
          #apellido="ngModel"
          required
        />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          aria-describedby="emailHelp"
          placeholder="ingrese un email valido"
          [(ngModel)]="usuario.email"
          name="email"
          #email="ngModel"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
          required
        />
        <small id="emailHelp" class="form-text text-muted">
          nunca compartiremos su correo electrónico con nadie.</small
        >
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <pre>
      {{ formJson | json }}
    </pre>
  </div>
</div>
