<div class="row mt-5">
  <div class="col">
    <h4>Formularios <small>template</small></h4>
    <hr />
    <form>
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          placeholder="ingrese un nombre"
        />
      </div>
      <div class="form-group">
        <label for="apellido">Apellido</label>
        <input
          type="text"
          class="form-control"
          id="apellido"
          placeholder="ingrese un apellido"
        />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          aria-describedby="emailHelp"
          placeholder="ingrese un email valido"
        />
        <small id="emailHelp" class="form-text text-muted">
          nunca compartiremos su correo electrónico con nadie.</small
        >
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
