<div class="row mt-5">
  <div class="col">
    <h4>Formularios <small>template</small></h4>
    <hr />
    <form (ngSubmit)="guardar(formu)" novalidate="" #formu="ngForm">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          class="form-control "
          placeholder="ingrese un nombre"
          [(ngModel)]="usuario.nombre"
          name="nombre"
          minlength="3"
          #nombre="ngModel"
          [ngClass]="{
            'is-invalid':
              (nombre.errors?.required || nombre.errors?.minlength) &&
              nombre.touched,
            'is-valid': nombre.valid
          }"
          required
        />
        <div *ngIf="nombre.errors?.required" class="invalid-feedback">
          El nombre es requerido
        </div>
        <div *ngIf="nombre.errors?.minlength" class="invalid-feedback">
          Debe contener al menos
          {{ nombre.errors?.minlength.requiredLength }} caracteres
        </div>
      </div>
      <div class="form-group">
        <label for="apellido">Apellido</label>
        <input
          type="text"
          class="form-control"
          placeholder="ingrese un apellido"
          [(ngModel)]="usuario.apellido"
          name="apellido"
          minlength="3"
          #apellido="ngModel"
          [ngClass]="{
            'is-invalid':
              (apellido.errors?.required || apellido.errors?.minlength) &&
              apellido.touched,
            'is-valid': apellido.valid
          }"
          required
        />
        <small *ngIf="apellido.errors?.required" class="invalid-feedback">
          El apellido es requerido
        </small>
        <small *ngIf="apellido.errors?.minlength" class="invalid-feedback">
          Debe contener al menos
          {{ apellido.errors?.minlength.requiredLength }} caracteres
        </small>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          aria-describedby="emailHelp"
          placeholder="ingrese un email valido"
          [(ngModel)]="usuario.email"
          name="email"
          #email="ngModel"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
          [ngClass]="{
            'is-invalid':
              (email.errors?.required ||
                email.errors?.pattern?.requiredPattern) &&
              email.touched,
            'is-valid': email.valid
          }"
          required
        />
        <small id="emailHelp" class="form-text text-info">
          nunca compartiremos su correo electrónico con nadie.</small
        >
        <small *ngIf="email.errors?.required" class="invalid-feedback">
          El email es requerido
        </small>
        <small
          *ngIf="email.errors?.pattern?.requiredPattern"
          class="invalid-feedback"
        >
          Ingrese un email valido
        </small>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Pais</label>
        <select
          class="form-control"
          name="pais"
          #pais="ngModel"
          [(ngModel)]="usuario.pais"
          required
          [ngClass]="{ 'is-valid': pais.valid }"
        >
          <option [ngValue]="null" disabled selected
            >Seleccione una opcion</option
          >
          <option *ngFor="let pais of paises" [value]="pais.codigo">{{
            pais.nombre
          }}</option>
        </select>
      </div>

      <!-- <div class="form-group">
        <label for="genero">Genero</label>
        <div class="custom-control custom-radio">
          <label class="custom-control-label" *ngFor="let genero of generos"
            ><input
              type="radio"
              name="genero"
              class="custom-control-input"
              [value]="genero"
              [(ngModel)]="usuario.genero"
            />
            {{ genero }}</label
          >
        </div>
      </div> -->

      <button type="submit" class="btn btn-primary" [disabled]="formu.invalid">
        Submit
      </button>
      <!-- [disabled]="formu.invalid" -->
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <pre>
      {{ formJson | json }}
    </pre>
  </div>
</div>
